<div class="atm-container">
    <div id="accountInformation">
        <h2>Account Balances</h2>
        <div class="account-info">
            <h3 class="account-name">Checking</h3>
            <div class="account-balance">
                <div class="balance">{{balance.checking}}</div>
                <form #checkingForm="ngForm" (ngSubmit)="onSubmit($event, 'checking')">
                    <fieldset>
                        <legend>Transaction Type</legend>
                        <label for="transaction">Withdraw</label>
                        <input type="radio" ngModel name="transaction" value="withdraw" required>
                        <label for="transaction">Deposit</label>
                        <input type="radio" ngModel name="transaction" value="deposit">
                    </fieldset>
                    <fieldset>
                        <legend>Amount</legend>
                        <label for="amount">Amount</label>
                        <input type="number" step="0.01" [(ngModel)]="checkingAmount" name="amount" #checkingAmount="ngModel" (keydown)="validateAmount($event, 'checking')" required>
                    </fieldset>
                    <button class="btn btn-primary" type="submit" [disabled]="checkingForm.invalid">Submit</button>
                </form>
            </div>
        </div>
        <div class="account-info">
            <h3 class="account-name">Savings</h3>
            <p class="balance">{{balance.savings}}</p>
            <form #savingsForm="ngForm" (ngSubmit)="onSubmit($event, 'savings')">
                <fieldset>
                    <legend>Transaction Type</legend>
                    <label for="transaction">Withdraw</label>
                    <input type="radio" ngModel name="transaction" value="withdraw" required>
                    <label for="transaction">Deposit</label>
                    <input type="radio" ngModel name="transaction" value="deposit">
                </fieldset>
                <fieldset>
                    <legend>Amount</legend>
                    <label for="amount">Amount</label>
                    <input type="number" step="0.01" [(ngModel)]="savingsAmount" name="amount" #savingsAmount="ngModel" (keydown)="validateAmount($event, 'savings')" required>
                </fieldset>
                <button class="btn btn-primary" type="submit" [disabled]="savingsForm.invalid">Submit</button>
            </form>
        </div>
    </div>
    <button id="signOut" class="btn btn-primary" type="submit" (click)="onSignOut()">Sign Out</button>
</div>